@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}



@font-face {
  font-family: 'cheeseBurga';
  src: url('/fonts/CHEESEBURGA_demo.ttf');
}
@font-face {
  font-family: 'baronKuffner';
  src: url('/fonts/BaronKuffner.otf');
}
@font-face {
  font-family: 'bebasNeue';
  src: url('/fonts/BebasNeue-Regular.ttf');
}
@layer utilities {
 
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #FFF280;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}